main.app {
  min-height: 100vh;
  display: flex;
  flex-grow: 1;
  background-color: wheat;
}

aside.navigation {
  display: block;
  min-width: 25vw;
  background-color: white;
  margin-top: 1vh;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

.upper {
  min-width: 75vw;
  display: flex;
  flex-grow: 1;
  min-height: 50vh;
}

.middle {
  min-width: 50vw;

  padding: 30px;
}

.loadAndSave {
  min-height: 8vh;
}

.fileFormat {
  min-height: 35vh;
}

.right {
  flex-grow: 1;

  padding: 30px;
}

.information {
  min-height: 40vh;
  padding: 30px;
}

.footer {
  padding: 15px;
  display: block;
}
