div .buttons {
    text-align: right;
}

.button {
  display: inline-block;
  font-size: 22px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid black;
}

.submit {
    margin: 0 25px 0 auto;
}

.reset {
    margin: 0 25px 0 auto;
}
